@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

/* .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

.first-col, .second-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.first-col{
  width: 100%;
  height: 100%;
}

.first-col img {
  width: 18rem;
}

.first-col h1 {
  font-family: 'Arial', sans-serif;
  font-size: 3em;
  color: #499eee;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 900;
}
.first-col h2 {
  color: #333;
  font-weight: 700;
  font-size: larger;
}
.first-col p {
  color: #333;
  font-size: 1.5rem;
  min-width: 32rem;
}

.first-col span {
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.second-col {
  width: 100%; 
  height: 100%;
}

.second-col img {
  width: 32rem; 
  height: 32rem; 
  max-width: none;
}
.second-col span{
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button-left,
.button-right {
  background-color: #e72828;
  color: #ffcc00;
  padding: 10px 20px;
  border-width: medium;
  border-radius: 5px;
  font-size: 20px;
  margin: 13px;
  cursor: pointer;
  font-weight: bold;
}

.button-right {
  background-color: #4181d1;
}

.button-left:hover {
  background-color: #c4241f;
}

.button-right:hover {
  background-color: #315d9c;
}

@media (min-width: 992px) {
  .home {
    flex-direction: row;
    justify-content: space-between;
  }

  .first-col {
    margin-left: 200px; 
  }

  .second-col {
    margin-right: 200px; 
  }
}

@media (max-width: 991px) {
  .home {
    flex-direction: column;
  }

  .first-col, .second-col {
    margin: 20px 0;
  }

} */

/* PokeDetails */
.poke-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.poke-container:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  /* background-color: #f8e576; */
}


.left-column, .right-column {
  flex: 1;
  min-width: 280px;
  margin-bottom: 20px;
  margin: 20px;

}

.poke-details h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.poke-details p {
  margin: 5px 0;
  color: #353535;
  font-weight: 500;
}

.stat-value {
  margin-top: 20px;
  padding: 10px;
  background: radial-gradient(circle, rgba(235, 176, 176, 1) 43%, rgba(223, 73, 73, 1) 70%);
  border-radius: 10px;
}

.stat-value .stat-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.stat-value p {
  margin: 0;
  padding: 0;
}

.stat-name {
  width: 100px;
  text-transform: capitalize;
}

.stat-bar-container {
  flex-grow: 1;
  position: relative;
  background-color: #ddd;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
}

.stat-bar {
  height: 100%;
  background-color: #2196F3;
  border-radius: 5px 0 0 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  flex-shrink: 0;
}

.right-column {
  position: relative;
  text-align: center;
  /* border: 1px solid #ccc; */
}

.image-details {
  position: relative;
}

.image-details img {
  display: block;
  width: 100%;
  max-width: 29rem;
  transition: transform 0.2s ease;
}

.image-details img:hover {
  transform: translateY(-5px); 
  
}

.right-column p {
  position: absolute;
  font-size: 3rem;
  color: rgb(248, 248, 248);
  right: 10px; 
  bottom: 1px; 
  padding: 0 10px;
  background-color: rgba(114, 114, 114, 0.7); 
  font-weight: bold;
}

@media (min-width: 600px) {
  .poke-container {
      flex-direction: row;
  }

  .left-column, .right-column {
      margin-bottom: 0;
  }

  .poke-details h2 {
      font-size: 28px; 
  }

  .stat-bar-container {
      height: 26px; 
  }
}

@media (min-width: 900px) {
  .poke-container {
      padding: 40px; 
  }

  .poke-details h2 {
      font-size: 48px; 
  }

  .stat-bar-container {
      height: 30px;
  }
}

/* PokeList*/

 .poke-cards {
  background-color: #f8d300;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Add transitions */
}

.poke-card:hover {
  /* background: radial-gradient(circle,rgba(235, 176, 176, 1) 43%, rgba(223, 73, 73, 1) 70%); */
  /* background-color: #ffd700;  */
  background: url(./assets/Neon_orange_background.webp);
  transform: translateY(-5px); 
}

.poke-card {
  background-color: rgb(255, 243, 227);
}

.poke-img-bg {
  background-color: #e6e6e6;
}



.button-back,
.button-next {
  background-color: #e72828;
  color: #ffcc00;
  padding: 10px 20px;
  border-width: thin;
  border-radius: 5px;
  font-size: 15px;
  margin: 13px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.button-next {
  background-color: #4181d1;
}

.button-back:hover {
  background-color: #c4241f;
}

.button-next:hover {
  background-color: #315d9c;
}


/* About */

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about-container h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.about-container h3 {
  font-size: 20px;
  color: #333;
  margin-top: 20px;
}

.about-container p {
  color: #555;
  line-height: 1.5;
}

.about-container ul {
  list-style-type: none;
  padding: 0;
}

.about-container ul li {
  margin-bottom: 5px;
}

.about-container a {
  color: #007bff;
  text-decoration: none;
}

.about-container a:hover {
  text-decoration: underline;
}

/* GAME */




/* POKEBOARD */

.game-page {
  position: relative;
  margin: 5px auto;
  max-width: 800px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(56, 56, 55);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  background: #499eee;
}

#game {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: repeat(4, 160px);
  gap: 10px;
}

.card {
  box-shadow: 0 5px 10px rgba(200, 200, 200, 0.9);
  border-radius: 20px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  width: 160px;
  height: 160px;
  transition: transform 0.5s;
}

.front, .back {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-image: url('https://images6.fanpop.com/image/photos/38900000/Pokeball-pokemon-38912743-894-894.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(235, 176, 176);
}

.back img {
  width: 80px;
  height: 80px;
}

.rotated {
  transform: rotateY(180deg);
}

.notification-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  margin: 20px 0;
  padding: 10px;
  background-color: #ffeb3b;
  border: 1px solid #fbc02d;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  text-align: center;
}