@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

:root {
  --background-color: radial-gradient(circle, rgba(235, 176, 176, 1) 43%, rgba(223, 73, 73, 1) 70%);
  --primary-color:#e72828;
  --secondary-color: #4181d1;
  --tertiary-color: #ffcc00 ;
  --main-text: #333333;
  --secondary-text: #666666; 
  --header-footer: rgba(189, 57, 57, 0.473)  ;
  --accent-color: #e91e63;
  /* --first-color: #ffcc00;
  --second-color: #4181d1;
  --third-color: #c4241f; */
}


h1 {
  color: var(--main-text);
}

h2 {
  color: var(--main-text);
}

p {
  color: var(--secondary-text);
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first-col h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button-left {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  transition: background-color 0.3s ease;
  border-width: medium;
  cursor: pointer;
}

.button-left:hover {
  filter: brightness(1.2);
}
.button-right {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  transition: background-color 0.3s ease;
  border-width: medium;
  cursor: pointer;
}

.button-right:hover {
  filter: brightness(1.2);
}


/* PokeList*/

 .poke-card {
  background-color: var(--tertiary-color);
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: 2px solid var(--secondary-color) ;
  
}

.poke-card:hover {
  background: url(./assets/Neon_orange_background.webp);
  transform: translateY(-5px); 
}

.poke-img-bg {
  background-color: white;
  border: 2px solid var(--primary-color);
}



/* button next back */
.button-back {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-width: thin;
  border-radius: 5px;
  cursor: pointer;
}

.button-next {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border-width: thin;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-back:hover {
  filter: brightness(1.2);
}

.button-next:hover {
  filter: brightness(1.2);
}



/* PokeDetails */


.poke-container {

  background-color: var(--tertiary-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.poke-container:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.stat-value {
  background: var(--primary-color); 
}


.stat-bar-container {
  background-color: #ddd;
  overflow: hidden;
}

.stat-bar {

  background-color: var(--secondary-color);
  color: #fff;
  flex-shrink: 0;
}


.image-details img {
  width: 100%;
  max-height: 28rem;
  min-height: 16rem;
  transition: transform 0.2s ease;
}

.image-details img:hover {
  transform: translateY(-5px); 
  
}

.right-column p {
  position: relative;
  color: white;
  background-color: rgba(114, 114, 114, 0.7); 
}





/* About */

/* .about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about-container h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.about-container h3 {
  font-size: 20px;
  color: #333;
  margin-top: 20px;
}

.about-container p {
  color: #555;
  line-height: 1.5;
}

.about-container ul {
  list-style-type: none;
  padding: 0;
}

.about-container ul li {
  margin-bottom: 5px;
}

.about-container a {
  color: #007bff;
  text-decoration: none;
}

.about-container a:hover {
  text-decoration: underline;
} */

/* GAME */




/* POKEBOARD */

/* .game-page {
  position: relative;
  margin: 5px auto;
  max-width: 800px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(56, 56, 55);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  background: #499eee;
}

#game {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: repeat(4, 160px);
  gap: 10px;
}

.card {
  box-shadow: 0 5px 10px rgba(200, 200, 200, 0.9);
  border-radius: 20px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  width: 160px;
  height: 160px;
  transition: transform 0.5s;
}

.front, .back {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-image: url('https://images6.fanpop.com/image/photos/38900000/Pokeball-pokemon-38912743-894-894.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(235, 176, 176);
}

.back img {
  width: 80px;
  height: 80px;
}

.rotated {
  transform: rotateY(180deg);
}

.notification-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  margin: 20px 0;
  padding: 10px;
  background-color: #ffeb3b;
  border: 1px solid #fbc02d;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  text-align: center;
} */